* {
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
}

/* FORMATTING */
#logo {
	max-width: 450px;
}
body {
	margin: auto;
	max-width: 960px;
	height: 100vh;
	background: linear-gradient(45deg, #8ebdd1, #bfbfbf);
	background-size: 300% 300%;
	animation: color 12s ease-in-out infinite;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

@keyframes color {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}
small,
footer a {
	font-size: 0.833rem;
}
h1 {
	font-size: 2.618rem;
}
h2 {
	font-size: 1.618rem;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: underline;
}

/* home.html */
.icon {
	clear: both;
	margin: 10px 5px 10px 5px;
	max-width: 256px;
	letter-spacing: 0.25rem;
	position: relative;
	display: inline-block;
	overflow: hidden;
	border-radius: 7.5px;
}
.icon img {
	border-radius: 7.5px;
	filter: grayscale(100%);
	transition: filter 0.3s ease;
	display: block;
}
.icon:hover img {
	filter: grayscale(0%);
	box-shadow: #4d4d4d 0px 10px 36px 0px, #4d4d4d1e 0px 0px 0px 1px;
	border-radius: 7.5px;
}
.icon p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	border-radius: 0 0 7.5px 7.5px;
}
.icon p:hover {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	border-radius: 0 0 7.5px 7.5px;
}

/* signal.html */
.signalSeason img {
	width: 288px;
	height: 162px;
}
.signalSeason {
	float: left;
	margin: 5px;
}
#SIGNAL img {
	width: 600px;
	height: 337px;
	border-radius: 1%;
	display: block;
	margin: auto;
}
