@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color: #ffffff;
	text-align: center;
}

html {
	font-size: 14px;
}
p {
	font-size: 1rem;
}
h1 {
	font-size: 17.942rem;
}
h2 {
	font-size: 11.089rem;
}
h3 {
	font-size: 6.854rem;
}
h4 {
	font-size: 4.236rem;
}
h5 {
	font-size: 2.618rem;
}
h6 {
	font-size: 1.618rem;
}
footer small,
footer a {
	font-size: 0.618rem;
}
/* FORMATTING */
header {
	margin: 15px 0px;
}
#logo {
	max-width: 400px;
}
body {
	min-height: 110vh;
	font-size: 1rem;
	margin: auto;
	max-width: 900px;
	background: linear-gradient(45deg, #6d96a8, #9b9b9b, #3192cc);
	background-size: 300% 300%;
	animation: color 12s ease-in-out infinite;
}
@keyframes color {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}
footer {
	clear: both;
	letter-spacing: 0.125rem;
	margin: 5px;
}
/* CONTENT DISPLAY */
.icon,
.gallery li {
	margin: 10px 5px;
	letter-spacing: 0.75px;
	position: relative;
	overflow: hidden;
	border-radius: 7.5px;
}
.gallery li img,
.icon img {
	max-width: 100%;
	height: 100%;
	display: block;
}
.gallery li p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	border-radius: 0 0 7.5px 7.5px;
	font-size: 0.75rem;
}
.gallery li {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	display: block;
}
/* home.html */
.homepage {
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
.icon {
	display: inline-block;
	max-width: 256px;
	transition: box-shadow 0.3s ease;
}
.icon img {
	border-radius: 7.5px;
	filter: grayscale(100%);
	transition: filter 0.3s ease;
}
.icon:hover {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.icon:hover img {
	filter: grayscale(0%);
	border-radius: 7.5px;
}
.icon p,
.icon p:hover {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	border-radius: 0 0 7.5px 7.5px;
}
.contentPortrait .gallery li {
	float: left;
	max-width: 170px;
	max-height: 250px;
}
.contentPortrait,
.contentLandscape {
	clear: both;
	display: inline-block;
	max-width: 100%;
}
.contentPortrait,
.contentLandscape {
	margin-top: 20px;
}
.contentPortrait h6 {
	margin-left: 5px;
	text-align: left;
}
.contentLandscape .gallery li {
	clear: both;
	display: inline-block;
	width: 250px;
	height: 150px;
	max-height: 100%;
	max-width: 100%;
}
.landscapeBanner img {
	border-radius: 7.5px;
	max-width: 100%;
	max-height: 100%;
	height: 500px;
}
.landscapeBanner h6,
.landscapeBanner p {
	margin: 3px;
	padding: 2px;
	text-align: left;
}

.card {
	margin-top: 20px;
}

.profiles { 
	background: rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	padding: 5px;
}

.profiles p {
	padding: 2px
}

.COSMO {
	margin-top: 10px;
}

hr.rounded {
	border-top: 2px solid #ffffff;
	border-radius: 5px;
	margin: 5px 0px;
}

.toggle-group {
	display: none;
  }
  .toggle-group.active {
	display: block;
  }


.profileImage img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}