* {
   margin: 0;
   padding: 0;
}


footer{
	height: 90px;
}

body {
    margin: auto;
}

main {
	height: auto;
}
nav, footer, main {
	clear: both;
}

main, footer {
	margin: 10px;
}