* {
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
	font-family: "Trebuchet MS", sans-serif;
	color: #ffffff;
	text-align: center;
}
html {
	font-size: 14px;
}
h1 {
	font-size: 17.942rem;
}
h2 {
	font-size: 11.089rem;
}
h3{ 
	font-size: 6.854rem;
}
h4 {
	font-size: 4.236rem;
}
h5 {
	font-size: 2.618rem;
}
h6 {
	font-size: 1.618rem;
}
footer small, footer a {
	font-size: 0.618rem;
}
/* FORMATTING */
header {
	margin: 20px 0px 10px 0px;
}
#logo {
	max-width: 400px;
}
#home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
body {
	font-size: 1rem;
	margin: auto;
	max-width: 900px;
	height: 100vh;
	background: linear-gradient(45deg, #8ebdd1, #bfbfbf, #43c4ff);
	background-size: 300% 300%;
	animation: color 12s ease-in-out infinite;
}
@keyframes color {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}
footer {
	clear: both;
	letter-spacing: 0.125rem;
	margin: 5px;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover,
a:active {
	text-decoration: underline;
}
/* home.html, wav.html, prob more */
.banner li, .icon {
	margin: 10px 5px;
	letter-spacing: 0.75px;
	position: relative;
	overflow: hidden;
	border-radius: 7.5px;
}
/* home.html */
.icon {
	display: inline-block;
	max-width: 256px;
	transition: box-shadow 0.3s ease;
}
.icon:hover {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.icon img {
	border-radius: 7.5px;
	filter: grayscale(100%);
	transition: filter 0.3s ease;
	display: block;
}
.icon:hover img  {
	filter: grayscale(0%);
	border-radius: 7.5px;
}
.icon p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	border-radius: 0 0 7.5px 7.5px;
}
.icon p:hover{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	border-radius: 0 0 7.5px 7.5px;
}
/* wav.html */
.banner li {
	float: left;
	width: 100%;
	height: 100%;
	max-width: 170px;
	max-height: 250px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	display: block;
}
.banner li p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	border-radius: 0 0 7.5px 7.5px;
	font-size: 0.75rem;
} 
#musicGallery, #entertainmentGallery {
	clear: both;
	display: inline-block;
	max-width: 100%;
}
#entertainmentGallery {
	margin-top: 20px;
}
#musicGallery h6, #entertainmentGallery h6 {
	text-align: left;
	margin-left: 7px;
}

/* signal.html */ 
#SIGNAL img {
	border-radius: 7.5px;
	max-width: 75%;
}
#signalSeason {
	margin: 10px 5px;
	letter-spacing: 0.75px;
	position: relative;
	overflow: hidden;
	border-radius: 7.5px;
}

#signalSeason li {
	float: left;
	max-width: 25%;
	display: block;
}
#signalSeason li p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	border-radius: 0 0 7.5px 7.5px;
	font-size: 0.75rem;
} 